.App {
  text-align: center;
}

section {
  margin: 48px;
  padding: 24px;
}

.Cards {
  display: flex;
  justify-content: space-around;
}

button {
  margin: 0 16px;
}

ul {
  list-style: none;
}

ul, li {
  margin:0;
  padding: 0;
}
